{
    "propel": {
        "paths": {
            "phpDir": "src",
            "phpConfDir": "config"
        },
        "database": {
            "connections": {
                "default": {
                    "adapter": "sqlite",
                    "classname": "Propel\\Runtime\\Connection\\ConnectionWrapper",
                    "user": "",
                    "password": ""
                }
            }
        },
        "runtime": {
            "defaultConnection": "default",
            "connections": ["default"]
        },
        "generator": {
            "defaultConnection": "default",
            "connections": ["default"]
        }
    }
}