<div id="wrapper">
    <div ng-include="'/app/modules/dashboard/sidebar.html'"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <h4 class="my-2 mr-md-auto">Manage</h4>
            </nav>
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="manga in list.pagination.content" class="item">
                        <td class="text-center header-small">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/91Hv6KacesL.jpg" class="edit-icon" />
                        </td>
                        <td>{{ manga.Name }}</td>
                        <td class="header-small">
                            <a href="#" class="btn btn-primary" ng-click="editSerie (manga)"><i class="fa fa-edit"></i> Edit</a>
                            <a href="#" class="btn btn-danger" ng-click="removeSerie (manga)"><i class="fa fa-times"></i> Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
