<div id="wrapper">
    <div ng-include="'/app/modules/dashboard/sidebar.html'"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <h4 class="my-2">{{ list.info.Name }}</h4>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-lg-3 text-center">
                        <img ng-src="{{ list.info.Image }}" class="series-main-image" />
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <h2>{{ list.info.Name }}</h2>
                        <p ng-bind-html="list.info.Description"></p>
                    </div>
                </div>
                <hr />
                <h4>Staff</h4>
                <div class="row">
                    <div ng-repeat="staff in list.info.Authors" class="col-12 col-md-6">
                        <a href="#!/staff/{{ staff.IdStaff }}">
                            <div class="card border-left-primary shadow">
                                <div class="card-body">
                                    <img ng-src="{{ staff.Image }}" class="rounded-circle img-staff-profile" />
                                    {{ staff.Name }} - <small>{{ staff.Role }}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <hr />
                <h4>Available chapters</h4>
                <span ng-repeat="chapter in list.chapters" class="item">
                    <chapter-entry entry="chapter" serie="list.info"></chapter-entry>
                </span>
            </div>
        </div>
    </div>
</div>
